$black: #000000;
$white: #ffffff;
$primary: #3f51b5;
$error: #dc3445;
$textGrey: #666666;
$tableHeader: #f7f8fb;
$borderLine: #e5e5e5;
$boxShadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%),
  0px 1px 10px 0px rgb(0 0 0 / 12%);
